body {background-color: light blue; 
      font-family: "Audiowide", sans-serif; }


h1 {color: navy;
    margin-left: 20px; }

div {padding: 25px; }

p.solid {border-style: solid;
         border-width: 5px;
         border-color: green; }


h2 {color: red;
    margin-left: 20px; }

div {padding: 25px; }

.center {margin: auto;}


p {font-size: 14px;
   line-height: 5px; }


ol {color: hotpink; }


a:link {text-decoration: none; }

a:hover {color: purple; }


img {border-radius: 8px; }


footer {background-color: yellow; }
        text-align: center; 
        font-size: 10px;
        padding: 10px; }
